.contenedorPrincipalItem {
    background-color: #000;
    overflow-x: hidden !important;
    padding-bottom: 80px;
}

.infoItemContainer {
    color: #fff;
    min-height: 30vh;
}

.logoCompanie {
    width: 150px;
    height: auto;
}

.contenedorSimilares {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.detallesReparto {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.detallesReparto h2 {
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
    padding-bottom: 10px;
}

.detallesReparto h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: rgb(255, 255, 73);
    position: absolute;
    bottom: 0;
    left: 0%;
    border-radius: 2px;
}

.cargandoInfo {
    background-color: #000;
}


.detallesInfo {
    gap: 30px;
    padding-left: 45px;
}

.carousel-cast .react-multi-carousel-item {
    padding-right: 6px;
}

.contenedor-imagenes {
    padding: 60px;
    gap: 90px;
}

.backdropss {
    gap: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.cast-visible .react-multiple-carousel__arrow {
    display: none;
}

@media (max-width: 1024px) {
    .detallesInfo {
        gap: 20px;
        padding-left: 25px;
    }

    .contenedor-imagenes {
        padding: 20px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 60px;
    }

    .carousel-cast .react-multiple-carousel__arrow::before {
        font-size: 15px;
    }

    .carousel-cast .react-multiple-carousel__arrow {
        min-width: 32px;
        min-height: 32px;
    }

    .contenedorSimilares {
        margin-bottom: 40px;
        gap: 40px;
    }

}

@media (max-width: 800px) {

    .detallesReparto h2 {
        font-size: 1.25rem;
    }
}

@media (max-width: 780px) {

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 25px !important;
    }

    .detallesInfo {
        gap: 10px;
        padding-left: 18px;
    }

    .carousel-cast .react-multiple-carousel__arrow::before {
        font-size: 16px;
    }

    .carousel-cast .react-multiple-carousel__arrow {
        min-width: 35px;
        min-height: 35px;
    }

    .contenedorSimilares {
        margin-bottom: 35px;
        gap: 35px;
    }
}

@media (max-width: 650px) {

    .contenedorSimilares {
        margin-bottom: 30px;
        gap: 30px;
    }
}

@media (max-width: 550px) {

    .detallesReparto h2 {
        font-size: 1.15rem;
    }
}



@media (max-width: 500px) {

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 20px !important;
    }
}