.contenedorDetailN{
    bottom: 100px;
}

.itemDetailsBanner{
    gap: 7px;
}

.bannerDetails{
    font-size: clamp(.65rem, 1.1vw, 1.1rem);
    gap: 20px;
}

.bannerDetails span{
    font-weight: 700;
    justify-content: space-between;
    color: rgba(240, 240, 240, 0.9);
    font-size: 1.15rem;
}
.generosBanner{
    column-gap: 30px;
    row-gap: -10px;
    list-style:circle;
    list-style-position: inside;
    font-weight: 600;
    font-size: 1.15rem;
    max-width: 50%;
    display: flex;
    padding: 0 !important;
    flex-wrap: wrap;
}

.edadParaPublico{
    background-color: rgb(65, 65, 65);
    border-radius: 4px;
    padding: 2px 9px;
    color: #fff !important;
    font-weight: bold;
}

.posters-container-banner {
    position: absolute;
    align-items: center;
    justify-content: center;
    padding:  0 10px;
    gap: 15px;
    right: 55px;
    bottom: 0px;
    width: 40%;
}
.carouselProviders .react-multi-carousel-item{
    padding-right: 10px;
}

.carouselProviders .react-multi-carousel-item {
    padding-right: 15px;
    z-index: 10;
}

.carouselProviders .react-multi-carousel-track {
    padding: 20px 0;
}

.carouselProviders .react-multiple-carousel__arrow--left {
    left: 5px;
}

.carouselProviders .react-multiple-carousel__arrow--right {
    right: 15px;
}

.carouselProviders .react-multiple-carousel__arrow::before{
    font-size: 10px !important;
    font-weight: bold;
}
.carouselProviders .react-multiple-carousel__arrow{
    min-width: 25px;
    min-height: 25px;
}

.carousel-cell .react-multiple-carousel__arrow{
    display: none;
}

@media (max-width: 1024px) {
    .contenedorDetailN {
        bottom: 60px !important;
    }

    .generosBanner{
        max-width: 58%;
        gap: 25px;
    }

}

@media (max-width: 900px) {
    .generosBanner{
        max-width: 90%;
        column-gap: 18px;
    }

    .bannerDetails{
        gap: 15px;
    }

    .edadParaPublico{
        font-size: .9rem;
    }
}


@media (max-width: 768px) {

    .contenedorDetailN {
        bottom: 60px !important;
    }
    .bannerDetails span{
        font-size: 1rem;
    }
    .generosBanner{
        font-size: 1rem;
        column-gap: 13px;
        row-gap: 6px;
    }
}

@media (max-width: 480px) {

    .bannerDetails span{
        font-size: .9rem;
    }

    .generosBanner{
        column-gap: 12px;
        font-size: .9rem;
    }

    .edadParaPublico{
        font-size: .7rem;
    }
}

@media (max-width: 400px) {

    .carouselProviders .react-multiple-carousel__arrow::before{
        font-size: 8px !important;
    }

    .edadParaPublico{
        font-size: .65rem;
    }
}


/* .carouselProviders{
    overflow: visible !important;
    overflow-x: hidden !important;
} */