.hamburguer-menu {
    background-color: rgba(0, 0, 0,.5);
    width: 100%;
    z-index: 9;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100vh;
}

.menu-bar {
    font-size: 1.6rem;
    cursor: pointer;
}

.cMenuHOpciones {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.cMenuHOpciones a,
.opcionMH a {
    font-size: 1rem;
}

.opcionMH {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.c-perfil-HB {
    display: flex;
    gap: 20px;
    color: #fff;
}

.x-menuH {
    color: #fff;
}

.logoMenuH {
    width: 120px;
}


@media (max-width: 1000px) {

    .cMenuHOpciones a,
    .opcionMH a {
        font-size: .9rem;
    }

}


@media (max-width: 800px) {

    .menu-bar {
        font-size: 1.3rem;
    }
}

@media (max-width: 600px) {

    .menu-bar {
        font-size: 1.2rem;
    }

}