.hamburguer-menu {
    background-color: rgb(17, 17, 17);
    height: auto;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    z-index: 100000;
}

.contenedorXMenuH {
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 20px;
    align-items: center;
}

.menu-bar {
    font-size: 1.6rem;
    cursor: pointer;
}

.contenedorXMenuH i {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
}


.cMenuHOpciones {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cMenuHOpciones a,
.opcionMH a {
    font-size: 1rem;
}

.opcionMH {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgb(30, 30, 30);
}

.c-perfil-HB {
    display: flex;
    gap: 20px;
    color: #fff;
}

.x-menuH {
    color: #fff;
}

.logoMenuH {
    width: 120px;
}


@media (max-width: 1000px) {

    .contenedorXMenuH i {
        font-size: 1.2rem;
    }

    .cMenuHOpciones a,
    .opcionMH a {
        font-size: .8rem;
    }

}


@media (max-width: 800px) {

    .menu-bar {
        font-size: 1.3rem;
    }

    .contenedorXMenuH i {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {

    .menu-bar {
        font-size: 1.2rem;
    }

    .contenedorXMenuH i {
        font-size: .9rem;
    }
}