.contenedorPrincipalMovie{
    background-color: rgb(0, 0, 0);
}

.infoMovieContainer{
    color: #fff;
}

.logoCompanie{
    width: 150px;
    height: auto;
}

.detallesReparto{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detallesReparto h2{
    margin-left: 20px;
    font-size: 1.6rem;
    font-weight: bold;
}