.contenedorPrincipalMovie {
    background-color: rgb(17, 17, 17);
    overflow-x: hidden !important;
}

.infoMovieContainer {
    color: #fff;
    min-height: 120vh;
}

.logoCompanie {
    width: 150px;
    height: auto;
}

.contenedorSimilares{
    margin-bottom: 60px;
}

.detallesReparto {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.detallesReparto h2 {
    font-size: clamp(.95rem, 1.5vw, 1.6rem);
    font-weight: bold;
    position: relative;
    padding-bottom: 10px;
}

.detallesReparto h2::after {
    content: "";
    display: block;
    width: 10%;
    height: 4px;
    background-color: rgb(255, 255, 73);
    position: absolute;
    bottom: 0;
    left: 0%;
    border-radius: 2px;
}

.cargandoInfo {
    background-color: rgb(17, 17, 17);
}


.detallesInfo {
    gap: 30px;
    padding-left: 45px;
}

.carousel-cast .react-multi-carousel-item {
    padding-right: 8px;
}

.contenedor-imagenes {
    padding: 60px;
    gap: 90px;
}

.backdropss {
    gap: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.cast-visible .react-multiple-carousel__arrow{
    display: none;
}

@media (max-width: 1024px) {
    .detallesInfo {
        gap: 20px;
        padding-left: 25px;
    }

    .contenedor-imagenes {
        padding: 20px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 60px;
    }

    .carousel-cast .react-multiple-carousel__arrow::before {
        font-size: 15px;
    }

    .carousel-cast .react-multiple-carousel__arrow {
        min-width: 32px;
        min-height: 32px;
    }

}

@media (max-width: 780px) {

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 25px !important;
    }

    .detallesInfo {
        gap: 10px;
        padding-left: 18px;
    }

    .carousel-cast .react-multiple-carousel__arrow::before {
        font-size: 16px;
    }

    .carousel-cast .react-multiple-carousel__arrow {
        min-width: 35px;
        min-height: 35px;
    }
}

@media (max-width: 650px) {
}


@media (max-width: 500px) {

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 20px !important;
    }
}