.containerEpisode {
    transition: all .3s ease-in-out;
    padding: 10px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.overViewEpisodeC {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.overViewEpisode {
    width: 100%;
    color: white;
    font-size: 1.2rem;
    word-wrap: break-word;
}

.container-episode {
    width: 100%;
    display: flex;
    height: 100%;
}

.containerEpisode:hover {
    background-color: rgba(85, 85, 85, 0.5);
}

.wrapper-img-episode {
    width: 25%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: auto;
    height: 170px;
}
.wrapper-img-episode img {
    object-fit: contain;
    width: auto;
    max-width: 100%;
    height: 100%;
    object-position: left top;
}

.info-episode {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: left;
    padding-left: 20px;
    justify-content: center;
}

.detailsDate {
    display: flex;
    gap: 15px;
    font-weight: 400;
}

.info-episode h4 {
    font-weight: 700;
}

.info-episode p,
.overViewEpisode {
    font-size: 1.2rem;
    color: #ababab;
}

.material-symbols-outlined{
    font-weight: 300;
}

.containerDownload {
    width: 5%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerDownload span {
    cursor: pointer;
    transition: all .3s ease-in-out;
    margin-top: 5px;
    font-size: 2.5rem;
}

.info-episode h4 {
    font-size: 1.2rem;
}

.info-episode p,
.overViewEpisode,
.detailsDate {
    font-size: 1.1rem;
}

.containerPlayMobile{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: rgba(0,0,0,.6);
}
.containerPlayMobile i{
    font-size: 1rem;
}

.play-icon{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.8rem;
    color: #fff;
}
@media (max-width: 1370px) {
    .wrapper-img-episode {
        height: 170px;
    }

    .info-episode{
        gap: 0;
    }
}


@media (max-width: 1200px) {
    .wrapper-img-episode {
        height: 150px;
    }

}

@media (max-width: 1050px) {

    .wrapper-img-episode {
        width: 37%;
    }
    .info-episode{
        padding-left: 0;
    }

    .info-episode h4 {
        font-size: 1.17rem;
    }

    .overViewEpisode {
        font-size: 1rem;
    }

    .containerDownload span {
        font-size: 2.2rem;
    }


    .containerEpisode {
        gap: 15px;
    }

}

@media (max-width: 905px) {
    .wrapper-img-episode {
        height: 130px;
    }

}



@media (max-width: 854px) {
    .wrapper-img-episode {
        width: 50%;
        height: 140px;
    }

    .containerDownload span {
        font-size: 1.9rem;
    }

    .info-episode h4 {
        font-size: 1.1rem;
    }

    .info-episode {
        padding: 12px;
    }

    .info-episode p,
    .detailsDate {
        font-size: 1rem;
    }

    .containerEpisode {
        gap: 3px;
    }
}


@media (max-width: 750px) {
    .wrapper-img-episode {
        height: 120px;
    }

}


@media (max-width: 620px) {

    .overViewEpisode {
        font-size: 1rem;
    }

    .info-episode h4 {
        font-size: 1.1rem;
        font-weight: 600;
    }

    .info-episode {
        padding: 9px;
    }


    .info-episode h4 {
        text-transform: capitalize;
    }

}



@media (max-width: 550px) {
    .overViewEpisode {
        font-size: .9rem;
    }

    .info-episode h4 {
        font-size: 1rem;
    }

    .info-episode p,
    .detailsDate {
        font-size: .9rem;
    }

    .wrapper-img-episode {
        width: 60%;
        height: 100px;
    }
}

@media (max-width: 450px) {
    .info-episode h4 {
        font-size: .9rem;
    }
}

@media (max-width: 385px) {
    .wrapper-img-episode {
        width: 60%;
    }
}