.containerEpisode{
    border-radius: 8px;
    transition: all .3s ease-in-out;
    padding: 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.overViewEpisodeC {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%;
    box-sizing: border-box;
}

.overViewEpisode {
    width: 100%;
    color: white;
    font-size: 1.2rem;
    word-wrap: break-word;
}

.container-episode {
    width: 100%;
    display: flex;
    height: 100%;
}

.containerEpisode:hover {
    background-color: rgba(85, 85, 85, 0.5);
}

.wrapper-img-episode {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-img-episode img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    height: 100%;
    object-position: top;
}

.info-episode {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: left;
    padding: 20px;
    justify-content: center;
}

.detailsDate {
    display: flex;
    gap: 15px;
    font-size: 1.3rem;
    font-weight: 600;
}

.info-episode h4 {
    font-size: 1.45rem;
    text-transform: uppercase;
    font-weight: bold;
}

.info-episode p, .overViewEpisode {
    font-size: 1.3rem;
    color: #ababab;
}

.containerPlay {
    width: 10%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerPlay i {
    cursor: pointer;
    font-size: 3rem;
    transition: all .3s ease-in-out;
}

.containerPlay i:hover {
    color: rgb(202, 205, 0);
}


@media (max-width: 1150px) {

    .containerPlay i {
        font-size: 2.2rem;
    }


    .info-episode h4 {
        font-size: 1.35rem;
    }

    .info-episode p, .overViewEpisode,.detailsDate {
        font-size: 1.1rem;
    }
}



@media (max-width: 1050px) {

    .wrapper-img-episode {
        width: 45%;
    }

    .info-episode h4 {
        font-size: 1.30rem;
    }

    .overViewEpisode {
        font-size: 1.1rem;
    }
    
}



@media (max-width: 880px) {
    .wrapper-img-episode {
        width: 60%;
    }

    .containerPlay i {
        font-size: 1.9rem;
    }

    .info-episode h4 {
        font-size: 1.2rem;
    }

    .info-episode {
        padding: 12px;
    }

    .containerEpisode{
        padding: 5px;
    }
    
}


@media (max-width: 620px) {

    .overViewEpisode {
        font-size: 1rem;
    }

    .info-episode h4 {
        font-size: 1.1rem;
    }

    .containerPlay i {
        font-size: 1.7rem;
    }

    .info-episode {
        padding: 9px;
    }


    .info-episode h4 {
        text-transform: capitalize;
    }

    .wrapper-img-episode {
        width: 40%;
    }

}



@media (max-width: 550px) {
    .overViewEpisode {
        font-size: .9rem;
    }

    .info-episode h4 {
        font-size: 1rem;
    }

    .containerPlay i {
        font-size: 1.5rem;
    }

    .info-episode p,.detailsDate{
        font-size: .9rem;
    }

}