.contenedor-poster {
    padding: 0 10px;
  }
  
  .cardContainerImage.poster {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 3;
    margin: auto;
  }
  
  .cardContainerImage.poster img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    cursor: pointer;
  }
  
  .cardContainerImage.backdrop {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9; 
    margin: auto;
  }
  
  .cardContainerImage.backdrop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  