
.favorites {
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 120vh;
    padding: 110px 72px 60px 72px;
}


.tituloFavoritas {
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 80px;
}

.favoritasContainer {
    display: grid;
    gap: 5px;
    row-gap: 100px;
    place-content: center;
    text-align: center;
    grid-template-columns: repeat(6, 1fr);
    padding: 0;
}

.favoritasContainerSpinner{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    min-width: 100%;
}

.favoritasContainer.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.noFavorites {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2rem;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    width: 100%;
}

@media (max-width: 1200px) {
    .favoritasContainer {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 992px) {
    .favoritasContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .favoritasContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .favoritasContainer {
        grid-template-columns: 1fr;
    }
}
