.containerPerfiles {
    height: 100vh;
    height: 100dvh;
    background-color: rgb(17, 17, 17);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.perfilesCargando {
    background-color: rgb(17, 17, 17);
}

.tituloPerfiles {
    color: #fff;
    font-size: clamp(1.7rem,5vw,3rem);
    font-weight: bold;
    margin-bottom: 50px;
}


.nombrePerfil{
    color: rgba(255,255,255,.9);
    font-size: 1.4rem;
}

.buttonPerfiles {
    height: 50px;
    width: 250px;
    margin: 0 auto;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    margin-top: 50px;
    transition: .1s ease-in-out;
}

.buttonPerfiles:hover {
    background-color: #000000;
}

.contenedorManage {
    text-align: center;
    gap: 20px;
}

.creacionPerfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


.buttonPerfilesCrear {
    height: 50px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
}

.buttonListo {
    background-color: rgb(255, 255, 255);
    color: #000000;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
    transition: .1s ease-in-out;
}

.buttonListo:hover {
    background-color: rgb(197, 6, 6);
    color: #fff;
}

.contenedorPerfil {
    width: 180px;
    position: relative;
}

.iconoX {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0;
}

.contenedorPerfil:hover .iconoX {
    opacity: 1;
}

.contenedorPerfil img {
    border-radius: 8px;
}

.creacionPerfil img {
    width: 150px;
}

.creacionPerfil input {
    background-color: transparent;
    height: 40px;
    color: #fff;
    background-color: #303030;
    border-radius: 999px;
    text-align: center;
}

.creacionPerfil input,.creacionPerfil button{
    width:300px;
}

input::placeholder {
    color: rgb(202, 202, 202);
}

.contenedorPerfil {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: #949494;
}

.contenedorPerfil img {
    width: 100%;
    transition: .01s ease-in-out;
    cursor: pointer;
}

.contenedorPerfil img:hover {
    outline: 3px solid #fff;
}

.PerfilesExistentesContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}


.perfiles{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    place-content: center;
    place-items: center;
    gap: 60px;
    width: 50vw;
}

@media (max-width: 1200px) {
    .contenedorPerfil {
        width: 150px;
    }

    .perfiles{
        gap: 50px;
        width: 60vw;
    }
}

@media (max-width: 1000px) {
    .contenedorPerfil {
        width: 130px;
    }

    .nombrePerfil{
        font-size: 1.3rem;
    }
}

@media (max-width: 800px) {
    .contenedorPerfil {
        width: 100px;
    }

    .perfiles{
        gap: 30px;
        width: 70vw;
    }

    .nombrePerfil{
        font-size: 1.2rem;
    }

}

@media(max-width:500px){
    .creacionPerfil input,.creacionPerfil button{
        width:70%;
    }

    .contenedorPerfil {
        width: 80px;
    }
}

@media (max-width: 400px) {


    .perfiles{
        gap: 20px;
        width: 90vw;
    }

    .nombrePerfil{
        font-size: 1rem;
    }
}