.containerSeason {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.contenedorSeleccionSeason {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.contenedorSeleccionSeason select {
    color: #c0c0c0;
    background-color: rgb(29, 29, 29);
    border-radius: 2px;
    gap: 10px;
    padding: 10px;
}

.overcoming{
    font-size: 1rem;
    font-weight: bold;
}

.tituloSerie {
    font-size: 2rem;
    font-weight: bold;
}

.contenedorEpisodios {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}


@media (max-width: 1024px) {

    .tituloSerie {
        font-size: 1.6rem;
    }

    .contenedorSeleccionSeason select {
        padding: 10px;
    }


    .containerSeason {
        margin-right: 25px;
    }

    .contenedorSeleccionSeason{
        padding: 10px 0;
    }
}

@media (max-width: 768px) {
    .containerSeason {
        margin-right: 18px;
    }
}

@media (max-width: 650px) {

    .tituloSerie {
        font-size: 1.3rem;
    }


    .contenedorSeleccionSeason select {
        padding: 5px;
        font-size: .85rem;
    }
}


@media (max-width: 500px) {

    .tituloSerie {
        font-size: 1.25rem;
    }

}

@media (max-width: 470px) {

    .contenedorSeleccionSeason {
        flex-direction: column;
    }

    .contenedorSeleccionSeason select {
        max-width: 150px;
    }

}