.contenedorHome{
    background-color: #000000;
    display: flex;
    flex-direction: column;
}

.contenedorPeliculas {
    padding: 20px 0 20px 75px;
    margin-top: -120px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    box-sizing: border-box;
  }

  @media (max-width: 1024px) {
    .contenedorPeliculas{
        padding-left: 25px;
        margin-top: -90px;
    }

    .cuerpoBanner{
        padding-left: 25px;
    }

    .navbar{
        padding: 0 25px;
    }

  }

  @media (max-width: 768px) {
    .contenedorPeliculas{
        padding-left: 18px;
        margin-top: -85px;
    }

    .cuerpoBanner{
        padding-left: 18px;
    }

    .navbar{
        padding: 0 18px;
    }
  }