.contenedorHome{
    background-color: #1f1f1f;
}

.contenedorPeliculas {
    padding: 20px 0 20px 45px;
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: 100%;
    box-sizing: border-box;
  }