.contenedorLupaExpanded {
  position: relative;
  width: 350px;
}

.lupaExpanded,.lupaExpanded::placeholder {
  color: #bdbdbd;
  font-size: .9rem !important;
}

.lupaExpanded {
  width: 100%;
  background-color: rgb(17, 17, 17);
  border: 2px solid #fff;
  color: #fff;
  padding-left: 40px;
  height: 30px;
  box-sizing: border-box;
}

.lupaExpanded:focus{
  outline: 0;
}

.lupaExpandedIcon {
  color: #fff;
  cursor: pointer;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.lupaExDelete {
  color: #fff;
  position: absolute;
  right: 10px;
  font-size: .9rem;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}



@media (max-width: 1200px) {
  .contenedorLupaExpanded {
    width: 300px;
  }

  .lupaExDelete {
    font-size: .8rem;
  }

}

@media (max-width: 1000px) {
  .contenedorLupaExpanded {
    width: 200px;
  }
}

@media (max-width: 800px) {
  .contenedorLupaExpanded {
    width: 120px;
  }


  .lupaExpandedIcon {
    font-size: .7rem;
  }

  .lupaExDelete {
    font-size: .7rem;
  }

}


@media (max-width: 500px) {

  .contenedorLupaExpanded {
    width: 80px;
  }


  .lupaExpanded {
    padding-left: 25px;
  }

  input::placeholder,
  .lupaExpanded {
    font-size: .7rem;
  }
}