.containerPerfiles {
    height: 100vh;
    height: 100dvh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    overflow-y: auto;
    padding: 60px 20px;
}

.PerfilesExistentesContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 100%;
    height: 100%;
}


.tituloPerfiles {
    color: #fff;
    font-size: 2.7rem;
    font-weight: 500;
    margin-bottom: 50px;
}

.nombrePerfil {
    color: #999;
    font-size: 1.4rem;
    font-weight: 600;
    white-space: nowrap; 
    transition:all .2s ease-in-out;
}

.buttonPerfiles {
    height: 60px;
    width: 170px;
    margin: 0 auto;
    border-radius: 5px;
    color: #fff;
    margin-top: 50px;
    transition: .2s ease-in-out;
    font-weight: 700;
    font-size: 1.3rem;
}

.buttonPerfiles:hover {
    background-color: #fff;
    color: #000;
}

.iconoX {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0;
}

.contenedorPerfil:hover .iconoX {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.contenedorPerfil:hover .iconoX:hover {
    transform: scale(2);
    font-weight: bold;
}

.contenedorPerfil img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

input::placeholder {
    color: rgb(202, 202, 202);
}

.crearPerfilDiv{
    position: relative;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.crearPerfilDiv i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.2rem;
    font-weight: bold;
    color: #fff;
}

.containerP{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.containerP:hover .nombrePerfil {
    color: #fff;
}
.contenedorPerfil {
    width: 140px;
    height: 140px;
    position: relative;
    color: #949494;
}

.contenedorPerfil img {
    outline: 3px solid #fff;
    border-radius: 50%;
    width: 100%;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.perfiles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 100%;
    width: 100%;
}


.container-button-crearProfile {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 20%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInImages {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.perfiles {
    animation: fadeIn 0.5s ease-in-out;
}

.contenedorPerfil {
    animation: fadeIn 0.5s ease-in-out;
}

.contenedorPerfil img {
    transition: transform 0.2s ease-in-out, outline 0.2s ease-in-out;
    opacity: 0;
    animation: fadeInImages 0.4s ease-in-out forwards;
}

/* Efecto de hover */
.containerP:hover .contenedorPerfil img,.containerP:hover .crearPerfilDiv {
    transform: scale(1.05);
}

.perfiles .contenedorPerfil {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

/* Animación escalonada para cada perfil */
.perfiles .contenedorPerfil:nth-child(1) {
    animation-delay: 0.1s;
}

.perfiles .contenedorPerfil:nth-child(2) {
    animation-delay: 0.2s;
}

.perfiles .contenedorPerfil:nth-child(3) {
    animation-delay: 0.3s;
}

.perfiles .contenedorPerfil:nth-child(4) {
    animation-delay: 0.4s;
}

.perfiles .contenedorPerfil:nth-child(5) {
    animation-delay: 0.5s;
}

.perfiles .contenedorPerfil:nth-child(6) {
    animation-delay: 0.5s;
}

@media (max-width: 1200px) {
    .contenedorPerfil {
        width: 140px;
        height: 140px;
    }

    .perfiles {
        gap: 50px;
    }
}

@media (max-width: 1100px) {
    .contenedorPerfil {
        width: 120px;
        height: 120px;
    }

    .nombrePerfil {
        font-size: 1.3rem;
    }

    .tituloPerfiles {
        font-size: 2.3rem;
    }


    .buttonPerfiles {
        height: 50px;
        width: 150px;
        font-size: 1.2rem;
    }

    .PerfilesExistentesContainer {
        gap: 0px;
    }
    

}

@media (max-width: 900px) {
    .contenedorPerfil {
        width: 100px;
        height: 100px;
    }

    .perfiles {
        gap: 30px;
    }

    .nombrePerfil {
        font-size: 1.2rem;
    }

    .tituloPerfiles {
        font-size: 2rem;
    }


    .buttonPerfiles {
        height: 45px;
        width: 145px;
        font-size: 1.2rem;
    }

    .crearPerfilDiv i{
        font-size: 2.1rem;
    }

}

@media (max-width: 600px) {
    .contenedorPerfil {
        width: 85px;
        height: 85px;
    }

    .tituloPerfiles {
        font-size: 1.9rem;
    }


    .crearPerfilDiv i{
        font-size: 1.7rem;
    }

}

@media (max-width: 400px) {


    .perfiles {
        gap: 50px;
    }

    .nombrePerfil {
        font-size: 1rem;
    }

    .tituloPerfiles {
        font-size: 1.8rem;
    }
}