.containerPerfiles {
    height: 100vh;
    height: 100dvh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.tituloPerfiles {
    color: #fff;
    font-size: clamp(1.7rem, 5vw, 2.8rem);
    font-weight: 700;
    margin-bottom: 50px;
}

.nombrePerfil {
    color: rgba(255, 255, 255, .9);
    font-size: 1.4rem;
}

.buttonPerfiles {
    height: 60px;
    width: 170px;
    margin: 0 auto;
    background-color: #2a2a2a;
    border-radius: 5px;
    color: #fff;
    margin-top: 50px;
    transition: .3s ease-in-out;
    font-weight: 700;
    font-size: 1.3rem;
}

.buttonPerfiles:hover {
    background-color: #fff;
    color: #000;
}

.iconoX {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0;
}

.contenedorPerfil:hover .iconoX {
    opacity: 1;
}

.contenedorPerfil img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

input::placeholder {
    color: rgb(202, 202, 202);
}

.contenedorPerfil {
    width: 160px;
    height: 160px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: #949494;
}

.contenedorPerfil img {
    width: 100%;
    transition: .01s ease-in-out;
    cursor: pointer;
}

.contenedorPerfil img:hover {
    outline: 3px solid #fff;
}

.PerfilesExistentesContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}


.perfiles {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 50vw;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeInImages {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.perfiles {
    animation: fadeIn 0.5s ease-in-out;
}

.contenedorPerfil {
    animation: fadeIn 0.5s ease-in-out;
}

.contenedorPerfil img {
    transition: transform 0.2s ease-in-out, outline 0.2s ease-in-out;
    opacity: 0;
    animation: fadeInImages 0.5s ease-in-out forwards;
}

/* Efecto de hover */
.contenedorPerfil img:hover {
    transform: scale(1.05);
}

.perfiles .contenedorPerfil {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

/* Animación escalonada para cada perfil */
.perfiles .contenedorPerfil:nth-child(1) {
    animation-delay: 0.1s;
}

.perfiles .contenedorPerfil:nth-child(2) {
    animation-delay: 0.2s;
}

.perfiles .contenedorPerfil:nth-child(3) {
    animation-delay: 0.3s;
}

.perfiles .contenedorPerfil:nth-child(4) {
    animation-delay: 0.4s;
}

.perfiles .contenedorPerfil:nth-child(5) {
    animation-delay: 0.5s;
}

@media (max-width: 1200px) {
    .contenedorPerfil {
        width: 150px;
    }

    .perfiles {
        gap: 50px;
        width: 60vw;
    }
}

@media (max-width: 1000px) {
    .contenedorPerfil {
        width: 130px;
    }

    .nombrePerfil {
        font-size: 1.3rem;
    }
}

@media (max-width: 800px) {
    .contenedorPerfil {
        width: 100px;
    }

    .perfiles {
        gap: 30px;
        width: 70vw;
    }

    .nombrePerfil {
        font-size: 1.2rem;
    }

}

@media (max-width: 400px) {


    .perfiles {
        gap: 20px;
        width: 90vw;
    }

    .nombrePerfil {
        font-size: 1rem;
    }
}