.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 45px !important;
  font-size: 1.3rem;
  z-index: 10;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.9);
}

.navOpciones {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.textInicio {
  cursor: pointer;
  font-weight: 300;
  font-size: clamp(.7rem, 1.5vw, 1rem);
  transition: .3s ease-in-out;
}

.lupa {
  font-size: 1.3rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  color: #fff;
}

.textInicio:hover,
.lupa:hover {
  color: rgba(255, 255, 255, .7);
}

.perfilYLupaContenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}


.visibleBar{
  display: none;
}


@media (max-width: 1200px) {
  .navbar{
    padding-bottom: 4px !important;
    padding-top: 4px !important;
  }
}

@media (max-width: 1000px) {

  .navbar{
    padding: 20px 20px !important;
  }

  .lupa {
    font-size: 1.2rem;
  }

}

@media (max-width: 900px) {
  .navbar{
    padding-bottom: 2px !important;
    padding-top: 2px !important;
  }
}

@media (max-width: 800px) {

  .lupa {
    font-size: 1rem;
  }
}