.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 45px !important;
  font-size: 1.3rem;
  z-index: 6;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;
}

.hamburguer-menu{
  padding-top: 20px;
  background-color: rgb(17, 17, 17);
  height: 100vh;
  height: 100dvh;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 100000;
}

.contenedorXMenuH{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}

.contenedorXMenuH i{
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

.cMenuHOpciones{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.opcionMH{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: rgb(30, 30, 30);
}
.opcionMH a{
  font-size: 1rem;
}

.c-perfil-HB{
  display: flex;
  gap: 20px;
  color: #fff;
}
.x-menuH{
  color: #fff;
}

.logoMenuH{
  width: 120px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.navbar.scrolled {
  background-color: rgb(17, 17, 17);
}


.navbar img {
  width: 10vw;
  height: auto;
}

.navbar .logoGrande {
  width: 16vw;
  height: auto;
}

.navOpciones {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.textInicio {
  cursor: pointer;
  font-weight: 300;
  font-size: clamp(.7rem, 1.5vw, 1rem);
  transition: .3s ease-in-out;
}

.lupa {
  font-size: 1.3rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  color: #fff;
}

.textInicio:hover,
.lupa:hover {
  color: rgba(255, 255, 255, .7);
}

.menu-bar{
  font-size: 1.6rem;
  cursor: pointer;
}

.perfilYLupaContenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}


.visibleBar{
  display: none;
}


@media (max-width: 1200px) {
  .navbar img{
    width: 13vw;
  }

  .navbar .logoGrande {
    width: 17vw;
    height: auto;
  }
}

@media (max-width: 1000px) {
  .navbar img{
    width: 12vw;
  }

  .navbar{
    padding: 20px 20px !important;
  }

  .navbar .logoGrande {
    width: 18vw;
    height: auto;
  }

  .lupa {
    font-size: 1.2rem;
  }

  .contenedorXMenuH i{
    font-size: 1.2rem;
  }

  .opcionMH a{
    font-size: .8rem;
  }
}

@media (max-width: 900px) {
  .navbar img{
    width: 18vw;
  }

  .opcionMH a{
    font-size: .7rem;
  }
}

@media (max-width: 800px) {

  .navbar .logoGrande {
    width: 34vw;
    height: auto;
  }

  .lupa {
    font-size: 1rem;
  }

  .menu-bar{
    font-size: 1.3rem;
  }

  .contenedorXMenuH i{
    font-size: 1rem;
  }
}

@media (max-width: 600px){

  .navbar img{
    width: 24vw;
    margin-left: -10px !important;
  }
  .menu-bar{
    font-size: 1.2rem;
  }

  .contenedorXMenuH i{
    font-size: .9rem;
  }
}

@media (max-width: 400px){

  .navbar img{
    width: 27vw;
  }
}
