.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 45px;
    font-size: 1.3rem;
    z-index: 6;
    color: #fff;
    background-color: transparent;
}

.navbar img {
    width: 130px;
    height: auto;
}

.navOpciones{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.textInicio{
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: .3s ease-in-out;
}

.lupa{
    font-size: 1.3rem;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.textInicio:hover,.lupa:hover{
    color: rgba(255,255,255,.7);
}

