.creacionPerfil {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 90px 0px 30px 0px;
    background-color: #000000;
    gap: 20px;
}

.wrapper-title-CP h2 {
    font-size: 2.45rem;
    font-weight: 600;
    text-align: center;
}

.wrapper-img-cp {
    position: relative;
    width: 90px;
    height: 90px;
    cursor: pointer;
}

.wrapper-img-cp img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
}

.wrapper-img-cp:hover img {
    border-radius: 50%;
    outline: 3px solid #fff;
}

.pencil-icon {
    color: #fff;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 0 !important;
}

.inputTextFormCP {
    width: 410px;
    background-color: #fff;
    padding: 16px 20px;
    border-radius: 5px;
    color: #000000;
}

.inputTextFormCP::placeholder {
    color: rgba(0, 0, 0, .6);
}

.inputTextFormCP::placeholder,
.inputTextFormCP {
    font-weight: 400;
    font-size: 1.3rem;
}

.wrapper-option-kids {
    margin-top: 20px;
    width: 550px;
    font-size: 1rem;
    color: #fff;
}

.wrapper-option-kids h3 {
    font-weight: 700;
    font-size: 1.4rem;
}


.wrapper-description-option-kids {
    font-size: 1.3rem;

}

.kidsSpan {
    color: #999;
}

.button-CP {
    background-color: transparent;
    outline: #000000;
    color: #fff;
    outline: 3px solid #575757;
    font-weight: 700;
    padding: 13px 30px;
    font-size: 1.3rem;
    border-radius: 5px;
    transition: all .15s ease-in-out;
}

.button-CP:hover {
    color: #000;
    background-color: #fff;
    outline: 3px solid #fff;
}

.bSaveC {
    background-color: #575757;
}

.disabled-button-SC {
    outline: 3px solid #393939;
    color: #393939;
    background-color: transparent;
    cursor: default !important;
}

.disabled-button-SC:hover {
    outline: 3px solid #393939;
    color: #393939;
    background-color: transparent;
    cursor: default !important;
}



@media (max-width: 1300px) {
    .wrapper-title-CP h2 {
        font-size: 2.2rem;
    }

    .wrapper-img-cp {
        width: 90px;
    }

    .pencil-icon {
        font-size: 1.4rem;
    }

    .formContainer {
        gap: 30px;
    }

    .inputTextFormCP {
        width: 400px;
        padding: 15px 19px;
    }

    .inputTextFormCP::placeholder,
    .inputTextFormCP {
        font-size: 1.2rem;
    }

    .wrapper-option-kids {
        margin-top: 20px;
        width: 540px;
        font-size: .9rem;
    }

    .wrapper-option-kids h3 {
        font-size: 1.2rem;
    }

    .wrapper-description-option-kids {
        font-size: 1.2rem;

    }

    .button-CP {
        font-weight: 700;
        padding: 12px 28px;
        font-size: 1.2rem;
    }

    .button-CP:hover {
        outline: 3px solid #fff;
    }

    .disabled-button-SC {
        outline: 3px solid #393939;
    }

    .disabled-button-SC:hover {
        outline: 3px solid #393939;
    }

}

@media (max-width: 880px) {
    .wrapper-img-cp {
        width: 80px;
    }

    .inputTextFormCP {
        width: 350px;
        padding: 15px 19px;
    }

    .wrapper-option-kids {
        margin-top: 20px;
        width: 500px;
        font-size: .9rem;
    }

    .creacionPerfil {
        padding: 70px 0px 30px 0px;
    }
}


@media (max-width: 600px) {

    .creacionPerfil {
        padding: 40px 0px 20x 40px;
    }
    .wrapper-title-CP h2 {
        font-size: 2rem;
    }

    .wrapper-img-cp {
        width: 75px;
    }

    .pencil-icon {
        font-size: 1.15rem;
    }

    .formContainer {
        gap: 25px;
    }

    .inputTextFormCP {
        width: 360px;
        padding: 13px 19px;
    }

    .inputTextFormCP::placeholder,
    .inputTextFormCP {
        font-size: 1.05rem;
    }

    .wrapper-option-kids {
        margin-top: 20px;
        width: 440px;
    }

    .wrapper-option-kids h3 {
        font-size: 1.1rem;
    }

    .wrapper-description-option-kids {
        font-size: 1.1rem;

    }

    .button-CP {
        padding: 10px 28px;
        font-size: 1.1rem;
        width: 90%;
        margin: 0 auto;
    }

    .wrapper-buttons-CP{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
    }
}

@media (max-width: 500px) {
    .wrapper-title-CP h2 {
        font-size: 1.8rem;
    }

    .wrapper-img-cp {
        width: 70px;
    }

    .pencil-icon {
        font-size: 1.05rem;
    }

    .formContainer {
        gap: 20px;
    }

    .inputTextFormCP {
        width: 320px;
        padding: 12px 19px;
    }

    .inputTextFormCP::placeholder,
    .inputTextFormCP {
        font-size: 1rem;
    }

    .wrapper-option-kids {
        margin-top: 20px;
        width: 100%;
        padding: 0 15px;
    }

    .wrapper-option-kids h3 {
        font-size: 1rem;
    }

    .wrapper-description-option-kids {
        font-size: 1rem;

    }

    .button-CP {
        font-size: 1rem;
    }

    .wrapper-buttons-CP{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: end;
    }
}

@media (max-width: 354px) {
    .inputTextFormCP {
        width: 90%;
        padding: 10px 17px;
    }

    .inputTextFormCP::placeholder,
    .inputTextFormCP {
        font-size: .9rem;
    }

    .wrapper-option-kids h3 {
        font-size: .9rem;
    }

    .wrapper-description-option-kids {
        font-size: .9rem;
    }

    .button-CP {
        font-size: .9rem;
    }

}