.contenedorActors{
    min-height: 120vh;
    min-height: 120dvh;
    background-color: var(--color-primario);
    padding-top: 90px;
    padding-left: 50px;
    padding-right: 50px;
}

.wrapper-actors{
    padding: 40px 0px;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 10px;
    row-gap: 25px;
    text-align: center;
}

.wrapperForm{
    background-color: #242424;
}

.wrapperForm form input{
    height: 40px;
    padding-left: 40px;
}

.wrapperForm form input,.wrapperForm form input::placeholder{
    color: #afafaf;
}

@media(max-width:1200px){
    .wrapper-actors{
        grid-template-columns: repeat(7,1fr);
    }    
}

@media(max-width:1050px){
    .wrapper-actors{
        grid-template-columns: repeat(6,1fr);
    }    
}



@media(max-width:1024px){
    .contenedorActors{
        padding-left: 25px;
        padding-right: 25px;
    }    
}

@media(max-width:920px){
    .wrapper-actors{
        grid-template-columns: repeat(5,1fr);
    }    
}

@media(max-width:768px){
    .contenedorActors{
        padding-left: 18px;
        padding-right: 18px;
    }    
}


@media(max-width:750px){
    .wrapper-actors{
        grid-template-columns: repeat(4,1fr);
    }    
}

@media(max-width:500px){
    .wrapper-actors{
        grid-template-columns: repeat(3,1fr);
    }    
}