.containerDetailsActor {
    min-height: 300px;
}


.containerPerfilIMG {
    gap: 30px !important;
    width: 20%;
}

.containerDetailsActorIMG {
    width: 80%;
}

.img-actor {
    border-radius: 7px;
    width: 100%;
}

.actor-name {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 20px;
    color: rgb(187, 150, 39);
}

.containerDetailsActorIMG {
    padding-left: 40px;
}

.detailActor h3 {
    font-size: 1rem;
    font-weight: 700;
}

.detailActor p {
    font-size: 1rem;
}

.learnMore {
    color: rgb(187, 150, 39);
    font-weight: 500;
}

.biography {
    padding: 20px 0;
}

@media(max-width:1150px) {

    .biography {
        padding: 10px 0;
    }

    .actor-name {
        font-size: 1.7rem !important;
    }

    .containerDetailsActorIMG {
        padding-left: 25px;
    }

    .detailActor h3 {
        font-size: .95rem;
    }

    .detailActor p {
        font-size: .95rem;
    }

    .learnMore {
        font-size: .9rem;
    }

    .containerDetailsActorIMG {
        width: 75%;
    }

    .containerPerfilIMG {
        width: 25%;
    }

}

@media(max-width:890px) {

    .containerDetailsActorIMG {
        width: 73%;
    }

    .containerPerfilIMG {
        width: 27%;
    }
}


@media(max-width:850px) {

    .biography {
        padding: 5px 0;
    }

    .actor-name {
        font-size: 1.6rem !important;
    }

    .containerDetailsActorIMG {
        padding-left: 25px;
    }

    .detailActor h3 {
        font-size: .9rem;
    }

    .detailActor p {
        font-size: .9rem;
    }

    .learnMore {
        font-size: .9rem;
    }

}

@media(max-width:700px) {

    .biography {
        padding: 3px 0;
    }

    .actor-name {
        font-size: 1.5rem !important;
    }

    .containerDetailsActorIMG {
        padding-left: 15px;
    }

    .detailActor h3 {
        font-size: .9rem;
    }

    .detailActor p {
        font-size: .8rem;
    }

    .learnMore {
        font-size: .8rem;
    }

    .containerDetailsActorIMG {
        width: 70%;
    }

    .containerPerfilIMG {
        width: 30%;
    }
}
    

@media(max-width:620px) {
    .biography {
        padding: 3px 0;
    }

    .actor-name {
        font-size: 1.5rem !important;
    }

    .containerDetailsActorIMG {
        padding-left: 15px;
    }

    .detailActor h3 {
        font-size: .9rem;
    }

    .detailActor p {
        font-size: .8rem;
    }

    .learnMore {
        font-size: .8rem;
    }

    .containerDetailsActorIMG {
        width: 68%;
    }

    .containerPerfilIMG {
        width: 32%;
    }
}

@media(max-width:480px) {
    .biography {
        padding: 3px 0;
    }

    .actor-name {
        font-size: 1.3rem !important;
    }

    .containerDetailsActorIMG {
        padding-left: 15px;
    }

    .detailActor h3 {
        font-size: .8rem;
    }

    .detailActor p {
        font-size: .7rem;
    }

    .learnMore {
        font-size: .7rem;
    }

    .containerDetailsActorIMG {
        width: 65%;
    }

    .containerPerfilIMG {
        width: 35%;
    }
}