.containerItemsActor{
    min-height: 100vh;
    min-height: 100dvh;
    background-color: #000;
}

.contenedorItemsPosters{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 10px;
    padding: 90px 40px;
}

@media(max-width:1050px){
    .contenedorItemsPosters{
        grid-template-columns: repeat(7,1fr);
    }
}

@media(max-width:870px){
    .contenedorItemsPosters{
        grid-template-columns: repeat(6,1fr);
    }
}


@media(max-width:770px){
    .contenedorItemsPosters{
        grid-template-columns: repeat(5,1fr);
    }
}



@media(max-width:670px){
    .contenedorItemsPosters{
        grid-template-columns: repeat(4,1fr);
    }
}


@media(max-width:575px){
    .contenedorItemsPosters{
        grid-template-columns: repeat(3,1fr);
        padding: 90px 20px;
    }
}