.carousel {
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.tituloCarousel {
    color: #fff;
    font-weight: 500;
    font-size: clamp(.8rem, 1.5vw, 1.3rem);
    margin-bottom: -10px;
}

.carousel-react .react-multi-carousel-item {
    padding-right: 15px;
    z-index: 10;
}

.carousel-react .react-multi-carousel-track {
    padding: 20px 0;
}

.carousel-react .react-multiple-carousel__arrow--left {
    left: 5px;
}

.carousel-react .react-multiple-carousel__arrow--right {
    right: 15px;
}

.carousel-react .react-multiple-carousel__arrow::before{
    font-size: 13px !important;
    font-weight: bold;
}
.carousel-react .react-multiple-carousel__arrow{
    min-width: 40px;
    min-height: 40px;
}

@media (max-width: 1300px) {
    .carousel-react .react-multiple-carousel__arrow{
        min-width: 35px;
        min-height: 35px;
    }
}

@media (max-width: 1200px) {
    .carousel-react .react-multiple-carousel__arrow{
        min-width: 30px;
        min-height: 30px;
    }
}

@media (max-width: 1000px) {

    .carousel-react .react-multiple-carousel__arrow::before{
        font-size: 13px;
    }

    .carousel-react .react-multiple-carousel__arrow{
        min-width: 28px;
        min-height: 28px;
    }
}

@media (max-width: 900px) {

    .carousel-react .react-multiple-carousel__arrow::before{
        font-size: 11px !important;
    }

    .carousel-react .react-multiple-carousel__arrow{
        min-width: 25px;
        min-height: 25px;
    }
}


@media (max-width: 800px) {

    .carousel-react .react-multiple-carousel__arrow::before{
        font-size: 10px !important;
    }
}

@media (max-width: 400px) {

    .carousel-react .react-multiple-carousel__arrow::before{
        font-size: 8px !important;
    }

    .carousel-react .react-multiple-carousel__arrow{
        min-width: 20px;
        min-height: 20px;
    }
}


/* .carousel-react{
    overflow: visible !important;
    overflow-x: hidden !important;
} */