.carousel{
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 5;
}
.tituloCarousel{
    color: #fff;
    font-weight: 500;
    font-size: clamp(.8rem, 1.5vw, 1.3rem);
}

.carousel-react .react-multi-carousel-item{
    padding-right: 15px;
    z-index: 10;
}
.carousel-react .react-multi-carousel-track{
    padding: 20px 0;
}

.carousel-react .react-multiple-carousel__arrow{
    font-weight: bold;
}


/* .carousel-react{
    overflow: visible !important;
    overflow-x: hidden !important;
} */
 