.header {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}

.header-short {
    height: 60vh;
}

.header .fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    display: block;
}

.cuerpoBanner{
    width: 100%;
    height: 100%;
    padding: 0px 45px 20px 75px;
}

.titulo-banner{
    font-size: 3rem;
    font-weight: bold;
}

.header::before,.header1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
        linear-gradient(to bottom, rgb(0, 0, 0), transparent 30%, transparent 70%, rgb(0, 0, 0)),
        linear-gradient(to right, rgb(0, 0, 0), transparent 40%); 
    z-index: 1;
}

.contenedorLogo, .contenedorLogo1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    color: #fff;
}

.logo-banner{
    width: 100%;
    height: auto;
}

.logo-banner-reducido{
    width: 100%;
    height: auto;
}
.contenedorLogo{
    bottom: 190px;
    z-index: 3;
}

.contenedorLogo1{
    bottom: 130px;
    z-index: 3;
}

.contenedorDetailN{
    bottom: 80px;
}

.contenedorLogo img {
    width: clamp(120px, 20vw, 360px);
    height: auto;
}

.contenedorLogo1 img {
    width: clamp(150px, 30vw, 280px);
    height: auto;
}

.botones {
    display: flex;
    gap: 20px;
}

.overview{
    font-size: clamp(.65rem, 1.1vw, 1.1rem);
    font-weight: 500;
    max-width: clamp(250px, 40%, 550px);
}

.botones button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 25px;
    font-size: clamp(.35rem, 2.2vw, 1.2rem);
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    z-index: 5;
}

.botones button:first-child {
    background-color: #fff;
    color: #000;
}

.botones button:first-child:hover {
    background-color: #e6e6e6;
}

.botones button:nth-child(2) {
    background-color: rgba(109, 109, 110, 0.7);
    color: #fff;
}

.botones button:nth-child(2):hover {
    background-color: rgba(109, 109, 110, 1);
}

.botones button i {
    font-size: clamp(.35rem, 2.2vw, 1.2rem);
}

.movieDetailsBanner{
    gap: 7px;
}

.bannerDetails{
    font-size: clamp(.65rem, 1.1vw, 1.1rem);
    gap: 20px;
}

.bannerDetails span{
    font-weight: 700;
    justify-content: space-between;
    color: rgba(231, 231, 231, 0.712);
}
.generosBanner{
    gap: 30px;
    list-style:circle;
    list-style-position: inside;
    font-weight: 600;
    font-size: clamp(.65rem, 1.1vw, 1.1rem);
}

.provedores-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding:  0 20px;
    bottom: 0px;
    gap: 60px;
    right: 55px;
    width: 40%;
}
.carouselProviders .react-multi-carousel-item{
    padding-right: 10px;
}

/* 
.provedorLogo{
    transition: .3s ease-in-out;
}

.provedorLogo:hover{
    transform: scale(1.5);
} */

  @media (max-width: 1280px) {
    
  }

  @media (max-width: 1024px) {
    .header {
        height: 70vh;
    }
    
    .header-short {
        height: 55vh;
    }

    .contenedorLogo{
        gap: 20px;
        bottom: 170px;
        z-index: 3;
    }
    
    .contenedorLogo1{
        bottom: 110px;
    }

    .botones button{
        padding: 6px 20px;
    }
  }

  @media (max-width: 768px) {
    .header {
        height: 70vh;
    }
    
    .header-short {
        height: 50vh
    }

    .contenedorLogo{
        bottom: 150px;
        z-index: 3;
    }
    
    .contenedorLogo1{
        bottom: 90px;
        z-index: 3;
    }

    .contenedorLogo, .contenedorLogo1{
        gap: 17px;
    }

    .botones button{
        padding: 6px 15px;
    }

  }


  
@media (max-width: 480px) {
    .header {
        height: 60vh;
    }
    
    .header-short {
        height: 40vh;
    }

    .contenedorLogo{
        bottom:130px;
        z-index: 3;
    }
    
    .contenedorLogo1{
        bottom: 70px;
        z-index: 3;
    }
  }