.contenedor{
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

.contenedorBuscar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;

}

.contenedorPeliculasBuscar {
    display: grid;
    gap: 5px;
    padding: 30px;
    grid-template-columns: repeat(6,1fr);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
}


@media (max-width: 1024px) {
    .contenedorPeliculasBuscar {
        grid-template-columns: repeat(5,1fr);
    }
}

@media (max-width: 768px) {
    .contenedorPeliculasBuscar {
        grid-template-columns: repeat(4,1fr);
    }
}

  
@media (max-width: 480px) {
    .contenedorPeliculasBuscar {
        grid-template-columns: repeat(3,1fr);
    }
}
  