.contenedor{
    background-color: rgb(32, 32, 32);
}

.contenedorNotFound{
    height: 100vh;
}

.contenedorBuscar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.contenedorPeliculasBuscar {
    display: grid;
    gap: 20px;
    padding: 30px;
    grid-template-columns: repeat(5,1fr);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(32, 32, 32);
}

.contenedorNoC{
    display: flex;
    flex-direction: column;
}

.textoNoC{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
